@charset "UTF-8";
/* CSS Document */
h1,
h2 {
  font-size: 2.35rem;
  margin-bottom: 0.5rem; }

.feature-wrap-outer {
  position: relative; }
  .feature-wrap-outer:after {
    content: '';
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 1480px;
    height: 222px;
    margin: 0 auto;
    background: rgba(8, 255, 182, 0.5);
    -webkit-transform: skew(0, -2deg) translateX(-50%);
            transform: skew(0, -2deg) translateX(-50%);
    box-shadow: 0 9px 17px rgba(0, 0, 0, 0.2);
    z-index: 0; }

.homepage-acllouts {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin: 3rem 0 0; }
  .homepage-acllouts .hp-callout {
    width: calc( 33% - 1rem );
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#06db8e+0,08e7b4+100 */
    background: #06db8e;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #06db8e 0%, #08e7b4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #06db8e 0%, #08e7b4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06db8e', endColorstr='#08e7b4',GradientType=1 );
    /* IE6-9 */
    position: relative;
    color: #fff;
    overflow: hidden;
    margin: 0 0.5rem;
    padding: 2rem 1rem 2rem 5.5rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 88, 120, 0.2); }
    .homepage-acllouts .hp-callout:hover {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#048658+0,06ae84+100 */
      background: #048658;
      /* Old browsers */
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #048658 0%, #06ae84 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #048658 0%, #06ae84 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#048658', endColorstr='#06ae84',GradientType=1 );
      /* IE6-9 */ }
    .homepage-acllouts .hp-callout.callout-order-online {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f39717+0,f7b923+100 */
      background: #f39717;
      /* Old browsers */
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #f39717 0%, #f7b923 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #f39717 0%, #f7b923 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39717', endColorstr='#f7b923',GradientType=1 );
      /* IE6-9 */ }
      .homepage-acllouts .hp-callout.callout-order-online:hover {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#048658+0,06ae84+100 */
        background: #048658;
        /* Old browsers */
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #048658 0%, #06ae84 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #048658 0%, #06ae84 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#048658', endColorstr='#06ae84',GradientType=1 );
        /* IE6-9 */ }
      .homepage-acllouts .hp-callout.callout-order-online .callout-icon img {
        left: -1rem; }
    .homepage-acllouts .hp-callout.callout-food-truck-menu .callout-icon img {
      width: 115px;
      left: -3.4rem; }
    .homepage-acllouts .hp-callout.callout-merch .callout-icon img {
      width: 90px;
      left: -1.75rem; }
    .homepage-acllouts .hp-callout .callout-icon img {
      width: 76px;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      position: absolute; }
    .homepage-acllouts .hp-callout .callout-text span {
      display: block; }
      .homepage-acllouts .hp-callout .callout-text span.callout-text-tagline {
        font-size: 0.76em;
        text-transform: uppercase; }
      .homepage-acllouts .hp-callout .callout-text span.callout-text-main {
        font-size: 1.76rem; }

.taste-of-oviedo-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  position: relative;
  padding: 7.05rem 1.5rem 9.41rem 27.5rem; }
  .taste-of-oviedo-section img {
    position: absolute;
    top: 1rem;
    left: -5.5rem; }

/* --------------------------------------------- SHELLS POSITIONING -- */
.floating-image-hidden-container {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: -8rem; }
  .floating-image-hidden-container img {
    -webkit-transform: translateY(1.9rem);
            transform: translateY(1.9rem); }
    .floating-image-hidden-container img.line-icon-shells-large {
      -webkit-transform: translateY(4rem);
              transform: translateY(4rem); }

/*# sourceMappingURL=home.css.map */