
// ---------------------------------------------------------------------------------
// ----- TOP NAV -------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.top-nav {
	position: relative;
	z-index: 6;

	@media (max-width: 900px) {
		display: none;
	}

	ul,
	ul li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
	}

	ul li {

		a {
			padding: 0.5rem 1rem;
			display: block;

			@media (max-width: 1240px) {
				padding: 0.5rem;
			}
		}

		&:hover a {
			background: $brand-dk;
			color: #fff;
		}

		&.current-menu-item a {
			background: $brand-dk;
			color: #fff;
		}

		&.menu-item-has-children {
			position: relative;

			ul {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;

				li {
					display: block;
					width: 12em;

					a {
						display: block;

						&:hover {
							background: $brand;
						}
					}
				}
			}

			&:hover ul {
				display: block;
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- FOOTER NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.footer-nav {
	ul,
	ul li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.menu {
		@media (max-width: 760px) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		@media (max-width: 470px) {
			display: block;
		}
	}

	ul li {

		a {
			font-weight: bold;
			display: block;
			padding: 0.5rem;
		}

		&:hover a {
		}

		&.current-menu-item a {
		}

		&.menu-item-has-children {
			position: relative;

			ul {
				display: none;
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- MOBILE NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.mobile-nav-activate {
	display: none;
}

.mobile-nav-activate {
	font-size: 1.75em;
	margin-right: 1rem;
	line-height: 1;
	font-weight: bold;

	@media (max-width: 900px) {
		display: block;
	}

	@media (max-width: 480px) {
		position: absolute;
		top: 1.5rem;
		right: 0;
	}
}

.mobile-nav {
	position: absolute;
	z-index: 101;
	top: 1rem;
	left: 0;
	width: 90%;
	padding: 0 0 1rem 0;
	background: $brand;
	@include drop_shadow();
	transform: translateX(-105%);
	transition: 0.5s;

	&.active {
		transform: translateX(0);
	}

	.mobile-nav-close {
		display: block;
		text-align: right;
		color: #fff;
		padding: 0.5rem 1rem;
		font-size: 2rem;
		line-height: 1;
	}

	ul,
	ul li {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	ul {
		padding-top: 0.5rem;
	}

	ul li {
		a {
			display: block;
			padding: 0.25rem 0.75rem;
			font-weight: bold;
			color: #fff;
			font-size: 1.5rem;

			&:hover {
				background: $brand-dk;
			}

			&:hover,
			&:focus,
			&:visited {
				color: #fff;
			}
		}

		ul {
			li {
				a {
					font-size: 0.8em;
					padding: 0rem 0.75rem;
					text-transform: initial;
				}
			}
		}
	}

	&.current_page_item > a {
		color: $brand-alt;

		&:after {
			content: "You are here.";
			background: $brand-alt;
			color: $maintext;
			font-size: 0.9em;
			padding: 0.1em 0.1em 0 0.1em;
			margin-left: 0.5em;
			border-radius: 3px;
		}
	}
}



