
// ---------------------------------------------------------------------------------
// ----- TOP NAV -------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.top-nav {
	//width: 40%;
	position: relative;
	z-index: 5;

	@media (max-width: 900px) {
		display: none;
	}

	ul,
	ul li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
	}

	ul li {

		a {
			padding: 0.5rem 1rem;
			display: block;

			@media (max-width: 1240px) {
				padding: 0.5rem;
			}
		}

		&:hover a {
			background: $brand-dk;
			color: #fff;
		}

		&.current-menu-item a {
			background: $brand-dk;
			color: #fff;
		}

		&.menu-item-has-children {
			position: relative;

			ul {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;

				li {
					display: block;
					width: 12em;

					a {
						display: block;

						&:hover {
							background: $brand;
						}
					}
				}
			}

			&:hover ul {
				display: block;
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- FOOTER NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.footer-nav {
	ul,
	ul li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.menu {
		@media (max-width: 760px) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		@media (max-width: 470px) {
			display: block;
		}
	}

	ul li {

		a {
			font-weight: bold;
			display: block;
			padding: 0.5rem;
		}

		&:hover a {
		}

		&.current-menu-item a {
		}

		&.menu-item-has-children {
			position: relative;

			ul {
				display: none;
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- MOBILE NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.mobile-nav,
.mobile-nav-activate {
	display: none;
}

.mobile-nav-activate {
	font-size: 1.25em;
	margin-right: 1rem;
	line-height: 1;
	padding: 0.65rem 0.75rem;
	background: $brand;
	color: #fff;
	border-radius: 50%;
	font-weight: bold;

	&:focus,
	&:visited {
		color: #fff;
	}

	@media (max-width: 900px) {
		display: block;
	}
}



