@import 'compass/css3';
@import 'bits';

/* CSS Document */
// ---------------------------------------------------------------------------------
// ----- CART STRIPE ---------------------------------------------------------------
// ---------------------------------------------------------------------------------
.header-stripe-store {
	background: $brand-blue;
	padding: 0.75rem 1rem;
	text-align: right;
}

.woocommerce-notices-wrapper {
	.woocommerce-message {
		background: #fff;

		a {
			background: $brand !important;

			&:hover {
				background: $brand-dk !important;
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- LANDING PAGE --------------------------------------------------------------
// ---------------------------------------------------------------------------------
.woocommerce {
	.products {
		.product {
			&:hover {
				img {
					transform: scale(1.05);
				}
			}

			img {
				@include drop_shadow();
				box-shadow: 0 1rem 1.25rem -12px rgba(0, 0, 0, 0.2) !important;
				transition: 0.3s;
			}

			h2.woocommerce-loop-product__title {
				font-size: 1.75rem !important;
			}

			.price {
				font-size: 1.125rem !important;
				font-weight: bold !important;
			}
		}
	}
}



// ---------------------------------------------------------------------------------
// ----- INDIVIDUAL PRODUCT --------------------------------------------------------
// ---------------------------------------------------------------------------------
.single-product {
	.content-area {
		max-width: 1120px !important;

		.product {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
		}

		.images,
		.summary {
			float: none !important;
		}

		.summary {
			padding-top: 2rem;
		}

		/* --------------------------------------------- GALLERY -- */
		.images {
			.yith_magnifier_zoom_wrap {
				a {
					@include drop_shadow();
				}
			}

			.thumbnails {
				padding-top: 0.5rem !important;

				.yith_magnifier_gallery {
					li {
						padding: 0.25rem;

						& + li {
							margin-top: 0;
						}
					}
				}
			}
		}

		/* --------------------------------------------- PRICING/OPTIONS/ADD TO CART -- */
		h1 {
			margin-bottom: 0;

			& + .price {
				margin: 0.5rem 0 3rem;
			}
		}

		.price {
			font-size: 1.75em !important;
			font-weight: bold;
		}

		select {
			-webkit-appearance: none;
			border-radius: 0;
			background: none !important;
			position: relative;
			cursor: pointer;
			font-size: 1em;
		}

		.value {
			padding: 0;
			position: relative;

			&:after {
				content: "\f0d7";
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				position: absolute;
				top: 50%;
				right: 0.5em;
				font-size: 1.25em;
				transform: translateY(-50%);
				pointer-events: none;
			}

			select {
				background: #fff !important;
			}
		}

		.variations,
		tbody,
		tr {
			display: block;
		}

		.variations {
			tr {
				display: inline-block;

				& + tr {
					margin-top: 1rem;
				}

				&:nth-child(2) {
					.value:after {
						top: 25%;
					}
				}
			}
		}

		/* --------------------------------------------- ADD TO CART BUTTON -- */
		.woocommerce-variation-price {
			margin-bottom: 0.25rem !important;
		}

		.quantity {
			margin-right: 0.75rem !important;
		}

		.woocommerce-variation-add-to-cart {
			.button {
				display: block !important;
				float: none !important;
				padding: 0.65rem 1rem !important;
				line-height: 1;
			}
		}

		.product_meta {
			display: none;
		}
	}


	/* --------------------------------------------- WC TABS -- */
	.woocommerce-tabs {
		margin-top: 3rem;
		width: 100%;

		.panel {
			margin-bottom: 0 !important;
		}

		.wc-tabs {
			padding-bottom: 0 !important;
			padding-left: 0 !important;
			margin-bottom: 0 !important;

			&:before {
				display: none !important;
			}

			li {
				border: none !important;
				padding: 0 1.25rem !important;

				&:after,
				&:before {
					display: none !important;
				}

				&:hover {
					color: $maintext !important;
					background: darken(#ebe9eb, 10) !important;
				}

				&.active {
					background: #fff !important;

					a {
						color: $maintext !important;
					}
				}
			}
		}

		.woocommerce-Tabs-panel {
			width: 100%;
			padding: 2rem 2rem 3rem !important;
			background: #fff;
			@include drop_shadow();

			.shop_attributes {
				border-top: 2px dotted rgba(0,0,0,.1);

				th,
				td {
					border-bottom: 2px dotted rgba(0,0,0,.1);
				}
			}
		}
	}

	.related.products {
		margin-top: 3rem;
	}
}


// ---------------------------------------------------------------------------------
// ----- CART ----------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.section-cart,
.section-checkout {
	.content-area  {
		max-width: 1120px;

		h1 {
			text-align: center;
		}

		.woocommerce-shipping-fields {
			.input-checkbox {
				-webkit-appearance: checkbox;
			}
		}

		.woocommerce-checkout-payment {
			background: #e5e6e1 !important;

			.wc_payment_method.payment_method_stripe {
				background: #fff !important;
				padding: 1rem;

				.payment_box.payment_method_stripe {
					background: #e5e6e1 !important;

					&:before {
						border-bottom-color: #e5e6e1 !important;
					}
				}
			}

			#stripe-card-element {
				padding: 0.75rem !important;
			}
		}
	}
}



// ---------------------------------------------------------------------------------
// ----- ONLINE FOOD ORDERING ------------------------------------------------------
// ---------------------------------------------------------------------------------
.section-order-online {
	.content-area {
		max-width: 1120px;

		h1 {
			text-align: center;
		}

		.arocol-xs-12 {
			padding: 0;

			.fdoe-flex-1 {
				margin: 0;

				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;
			}
		}

		#fdoe-left-left-container,
		#fdoe-left-container,
		#fdoe-right-container {
			float: none;
		}

		#fdoe-left-left-container {
			width: 20%;
		}

		#fdoe-left-container {
			width: 54%;
		}

		#fdoe-right-container {
			width: 26%;
			padding: 0 1rem;
		}

		.fdoe-less-gut {
			padding: 0;
			margin: 0 !important;

			.fdoe-sticky {
				padding: 0;
				width: auto !important;

				&.aroaffix {
					max-width: 220px !important;
				}

				.fdoe_menuitem  {
					font-size: 1rem;
					padding: 0;

					&.fdoe-active-link {
						border: none;
						background: #fff;
					}

					a {
						display: block;
						padding: 0.5rem;
						border-bottom: 1px dotted #ccc;
					}
				}
			}
		}

		h4.Category_heading,
		h4.Minicart_heading {
			font-size: 1.75rem !important;
			font-weight: bold;
			margin-top: 0;
			font-family: 'Satisfy', cursive;
			color: $brand-blue;
			text-align: center;
		}

		.fdoe-right-sticky {
			width: auto !important;
			padding: 1.25rem;
			border: 2px solid $brand-alt;

			&.aroaffix {
				//right: 1.5rem;
				margin-right: 1rem;
			}

			.widget_shopping_cart_content {
				.woocommerce-mini-cart {
					.woocommerce-mini-cart-item {
						padding: 0.75rem 0 !important;

						.mini-cart-quantity {
							display: inline-block;
							padding-left: 1.5rem;
						}
					}
				}

				.woocommerce-mini-cart__total.total {
					margin-top: 2rem;
				}
			}
		}
	}
}


/* --------------------------------------------- HIDE SHIRTS & SHIRTS CATEGORY -- */
.cat_tbody.scrollspy#menucat_27,
#heading_menucat_27 {
	display: none;
}

/* --------------------------------------------- MENU -- */
.fdoe-products {
	.menu_titles {
		padding: 1rem 1rem 2rem;

		.fdoe_title_text {
			font-size: 1.5rem !important;
			font-weight: bold;
			font-family: 'Satisfy', cursive;
			color: $brand-blue;
			padding-bottom: 0.5rem;
			border-bottom: 2px dotted $brand-alt;

			i {
				display: none;
			}
		}
	}

	.fdoe-item {
		&:hover {
			transform: scale(1.025);

			i {
				color: $brand-dk !important;
			}
		}

		.fdoe_thumb {
			width: 100px !important;

			img {
				min-width: 40px !important;
				//max-width: 80px !important;
				width: 90% !important;
			}
		}

		.fdoe_title {
			color: $maintext !important;
			font-size: 1.1em;
			margin-top: 0 !important;
		}

		.fdoe_price_and_add_onecol {
			padding-right: 1rem;

			i {
				color: $brand;
			}
		}
	}
}


/* --------------------------------------------- POPUP & OVERLAY -- */
.aromodal {
	background: rgba(0,0,0,0.75);

	button.close {
		color: $brand !important;
		background: none !important;
		font-size: 3rem !important;
	}
}











