@import 'compass/css3';
@import 'bits';

/* CSS Document */

// ---------------------------------------------------------------------------------
// ----- FEATURE AREA --------------------------------------------------------------
// ---------------------------------------------------------------------------------
.not-front {
	.feature-wrap-outer {
		position: relative;

		.floating-image-container {
			&.lemon {
				transform: translateY(-7rem);
			}

			.shrimp-container {
				right: -8.75rem;
				top: -7.25rem;
			}
		}

		.feature-wrap {
			min-height: 240px;
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- MENU PAGE -----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.page-id-17 {
	.feature-wrap {
		min-height: 320px !important;
	}

	.content-wrap {
		position: relative;
		max-width: 1440px;
		padding-top: 2rem;
		z-index: 3;

		.content-area {
			max-width: none;
		}
	}
}

/* --------------------------------------------- MENU PAGE -- */
.menu-items-categories-container {
	column-count: 2;
	column-gap: 1.5rem;

	@media (max-width: 760px) {
		column-count: 1;
		column-gap: 0;
	}

	.menu-items-category {
		break-inside: avoid;
		background: none;
		padding: 2rem;
		margin-bottom: 1.5rem;
		background-repeat: no-repeat !important;

		&.appetizers {
			background-position: 100% 0 !important;
			background-size: 30% !important;
		}

		&:first-of-type {
			margin-top: -5rem;
		}

		&:nth-child(odd) {
			background: #fff;
			@include drop_shadow();
		}

		&:nth-child(even) {
			border: 4px solid $brand-alt;
		}

		.menu-items-category-icon {
			text-align: center;
			margin: 0.5rem 0 0.5rem;

			img {
				max-width: 48px;
				max-height: 48px;
			}
		}

		h2 {
			text-align: center;
			width: 75%;
			margin: 0 auto 2rem;
			padding-bottom: 2rem;
			border-bottom: 2px dotted $brand-alt;
		}

		.menu-items-listing {
			column-count: 2;
			column-gap: 1.5rem;

			@media (max-width: 560px) {
				column-count: 1;
				column-gap: 0;
			}

			.menu-item {
				break-inside: avoid;
				-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  		        page-break-inside: avoid; /* Firefox */
                break-inside: avoid; /* IE 10+ */
				margin-bottom: 1rem;
				position: relative;
				padding-top: 1.25rem;

				&.featured-item {
					border: 3px solid $brand;
					padding: 1.5rem 1rem;

					.featured-item-image {
						margin-top: 0;
						line-height: 0;

						@media (max-width: 560px) {
							display: none;
						}

						& + .menu-item-title-price {
							margin-top: 1rem;

							@media (max-width: 560px) {
								margin-top: 0;
							}
						}
					}
				}

				.new-item-banner {
					position: absolute;
					top: 0;
					left: -0.5rem;
					font-size: 0.75em;
					background: $brand-blue;
					border-radius: 5px;
					padding: 0.15rem 0.25rem;
					color: #fff;
					transform: rotate(-7deg);
				}

				.menu-item-title-price {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					align-items: flex-start;
					margin-bottom: 1rem;

					.menu-item-title {
						width: 75%;
						padding-right: 1.5rem;
						font-family: Roboto;
						font-size: 1.125em;
						font-weight: bold;
						color: $maintext;
						margin: 0;
						position: relative;

						.spicy-item-icon {
							color: #f33010;
							max-width: 24px;
							transform: rotate(-6deg);
							position: absolute;
							top: 0;
							right: 0.25rem;
						}
					}

					.menu-item-price {
						width: 25%;
						margin-top: 0;
						text-align: right;
						font-size: 0.9em;
						font-weight: bold;

						p + p {
							margin-top: 0.25rem;
						}
					}
				}

				.menu-item-title-description {
					margin-top: 0.25rem;
					font-size: 0.8em;
				}
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- CATERING PAGE -------------------------------------------------------------
// ---------------------------------------------------------------------------------
.page-id-14 {
	.content-wrap {
		.nf-form-cont {
			background: #fff;
			padding: 2rem;
			margin-top: 3rem;
			@include drop_shadow();

			.nf-form-fields-required {
				display: none;
			}

			input[type="text"],
			input[type="email"],
			input[type="tel"],
			input[type="password"],
			input[type="number"],
			textarea,
			select {
				padding: 0.75rem;
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- FOOD TRUCK PAGE -----------------------------------------------------------
// ---------------------------------------------------------------------------------
/* --------------------------------------------- MENU -- */
.food-truck-menu-container {
	background: #fff;
	@include drop_shadow();
	padding: 2rem 1.5rem 2rem;
	min-height: 70%;

	.menu-item {
		& + .menu-item {
			margin-top: 1.25rem;
		}

		.menu-item-categories {
			line-height: 0;
			//margin-bottom: -0.25rem;
			position: relative;
			z-index: 5;

			img {
				max-width: 28px;

				& + img {
					margin-left: 0.75rem;
				}
			}
		}

		.menu-item-info {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			position: relative;

			span {
				display: block;

				&.menu-item-leading-dots {
					position: absolute;
					width: 100%;
					vertical-align:bottom;
					background-image:radial-gradient($brand-alt 1px, white 0px);
					background-size: 8px 8px;
					background-repeat:repeat-x;
					background-position: left bottom;

					@media (max-width: 540px) {
						display: none;
					}
				}
			}

			.menu-item-name,
			.menu-item-price {
				position: relative;
				z-index: 2;
				background: #fff;
				padding: 0.25rem;

				@media (max-width: 540px) {
					width: 100% !important;
					max-width: none !important;
				}
			}

			.menu-item-name {
				position: relative;
				font-weight: bold;
				line-height: 1.125;
				font-size: 1.125em;
				z-index: 2;
				max-width: 300px;
			}

			.menu-item-price {
				position: relative;
				font-style: italic;
				z-index: 2;
				max-width: 130px;

				span {
					display: block;
				}
			}
		}
	}
}


/* --------------------------------------------- SCHEDULE/EVENTS -- */
.food-truck-page-events-listing-container {
	.food-truck-page-events-listing {
		.event-item {
			padding: 0 1rem 1rem 1rem;

			& + .event-item {
				padding: 1rem;

				border-top: 1px solid #ddd;
			}

			.event-item-name-date-icon-container {
				margin-bottom: 1.25rem;
				position: relative;
				padding-left: 2.5rem;
				line-height: 1;

				.event-item-calendar-icon-container {
					font-size: 1.5em;
					position: absolute;
					top: 0;
					left: 0;

					i {
						transform: translateY(0.25rem);
						color: $brand-blue;
					}
				}

				.event-item-name {
					font-weight: bold;
					line-height: 1.25;
					font-size: 1.35em;


					& + .event-item-date {
						margin-top: 0.25rem;
						font-size: 1.05em;
						font-style: italic;
						color: #888;
					}
				}
			}

			.event-item-location-container {
				padding-left: 2.5rem;
				font-size: 0.9em;

				i {
					margin-right: 0.25rem;
					color: $brand-alt;
				}
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- LOCATIONS PAGE ------------------------------------------------------------
// ---------------------------------------------------------------------------------
.page-id-9 {
	.kt-row-column-wrap {
		padding: 0;
		@include drop_shadow();
		background: #fff;
		padding: 2rem 1.5rem 2rem;
	}

	/* --------------------------------------------- REVIEW SECTION -- */
	.review-platforms-conatiner {
		background: #e5e6e1;
		padding: 3rem 2rem;
		text-align: center;

		h2 {
			font-size: 2.125rem;
			text-transform: capitalize;

			span {
				text-transform: uppercase;
				display: block;
				font-weight: 300;
				font-size: 1rem;
			}
		}

		.review-platforms {
			max-width: 900px;
			margin: auto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			@media (max-width: 610px) {
				flex-direction: column;
				padding-top: 0;
			}

			a {
				padding: 0 2rem;
				display: block;
				width: 20%;
				filter: invert(66%) sepia(97%) saturate(2085%) hue-rotate(114deg) brightness(101%) contrast(94%);

				@media (max-width: 610px) {
					margin: 1.5em 0;
					padding: 0;
					//width: 35%;
				}

				&:hover {
					filter: invert(46%) sepia(77%) saturate(3114%) hue-rotate(135deg) brightness(98%) contrast(96%);
				}
			}
		}
	}

	/* --------------------------------------------- MAP -- */
	.location-aadress {
		font-size: 1.25em;
	}

	.location-phone-number {
		font-weight: bold;
		font-size: 1.15em;

		& + .location-fax-number {
			margin-top: 0.25rem;
			font-size: 1.15em;
		}
	}

	/* --------------------------------------------- GALLERY [INSTAGRAM] -- */
	.location-gallery-heading {
		margin-top: 3rem;
	}

	
	#sbi_load {
		margin-top: 1rem;

		.sbi_follow_btn {
			a {
				background: $brand !important;
			}
		}
	}
}


















