@import 'compass/css3';
@import 'bits';

/* CSS Document */

// ---------------------------------------------------------------------------------
// ----- FEATURE AREA --------------------------------------------------------------
// ---------------------------------------------------------------------------------
.not-front {
	.feature-wrap-outer {
		position: relative;

		.floating-image-container {
			&.lemon {
				transform: translateY(-7rem);
			}

			.shrimp-container {
				right: -8.75rem;
				top: -7.25rem;
			}
		}

		.feature-wrap {
			min-height: 240px;
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- MENU PAGE -----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.page-id-17 {
	.feature-wrap {
		min-height: 320px !important;
	}

	.content-wrap {
		position: relative;
		max-width: 1440px;
		padding-top: 2rem;
		z-index: 3;

		.content-area {
			max-width: none;
		}
	}
}

/* --------------------------------------------- MENU PAGE FEATURE -- */
.menu-items-categories-container {
	column-count: 2;
	column-gap: 1.5rem;

	@media (max-width: 760px) {
		column-count: 1;
		column-gap: 0;
	}

	.menu-items-category {
		break-inside: avoid;
		background: lighten( $brand,30 );
		background: none;
		padding: 2rem;
		margin-bottom: 1.5rem;

		&.fresh-chicken-tenders {
			display: none;
		}

		&:first-of-type {
			margin-top: -5rem;
		}

		&:nth-child(odd) {
			background: #fff;
			@include drop_shadow();
		}

		&:nth-child(even) {
			border: 4px solid $brand-alt;
		}

		h2 {
			text-align: center;
			padding-bottom: 0.5rem;
			width: 75%;
			margin: 0 auto 1.5rem;
		}

		.menu-items-listing {
			column-count: 2;
			column-gap: 1rem;

			@media (max-width: 560px) {
				column-count: 1;
				column-gap: 0;
			}

			.menu-item {
				break-inside: avoid;
				-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  		        page-break-inside: avoid; /* Firefox */
                break-inside: avoid; /* IE 10+ */
				margin-bottom: 2rem;
				position: relative;

				&.featured-item {
					border: 3px solid $brand;
					padding: 1.5rem 1rem;

					.featured-item-image {
						line-height: 0;
					}
				}

				.new-item-banner {
					position: absolute;
					top: -1.25rem;
					left: -0.75rem;
					font-size: 0.75em;
					background: $brand;
					border-radius: 5px;
					padding: 0.15rem 0.25rem;
					color: #fff;
					transform: rotate(-7deg);
				}

				h3 {
					font-family: Roboto;
					font-size: 1.125em;
					font-weight: bold;
					color: $maintext;
					margin-bottom: 0.5rem;

					& + p {
						margin-top: 0.25rem;
						font-size: 0.8em;
					}
				}
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- CATERING PAGE -------------------------------------------------------------
// ---------------------------------------------------------------------------------
.page-id-14 {
	.content-wrap {
		.nf-form-cont {
			background: #fff;
			padding: 2rem;
			margin-top: 3rem;
			@include drop_shadow();

			.nf-form-fields-required {
				display: none;
			}

			input[type="text"],
			input[type="email"],
			input[type="tel"],
			input[type="password"],
			input[type="number"],
			textarea,
			select {
				padding: 0.75rem;
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- FOOD TRUCK PAGE -----------------------------------------------------------
// ---------------------------------------------------------------------------------
/* --------------------------------------------- MENU -- */
.food-truck-menu-container {
	.menu-item {
		width: calc( 100% - 0.5rem );
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		background: #fff;
		@include drop_shadow();
		padding: 1rem;
		margin-bottom: 0.75rem;

		@media (max-width: 800px) {
			width: 100%;
		}

		div {
			width: calc( 60% - 0.5rem );

			@media (max-width: 540px) {
				width: 100% !important;
			}

			&.menu-item-photo {
				width: calc( 40% - 0.5rem );

				@media (max-width: 540px) {
					margin-bottom: 1rem;
				}
			}

			&.menu-item-content {
				.menu-item-name {
					font-weight: bold;
					line-height: 1.25;
					font-size: 1.5em;
				}

				.menu-item-price {
					font-style: italic;
					color: #888;
					font-size: 1.15em;

					span {
						display: block;
					}
				}
			}
		}
	}
}


/* --------------------------------------------- SCHEDULE/EVENTS -- */
.food-truck-page-events-listing-container {
	.food-truck-page-events-listing {
		.event-item {
			padding: 0 1rem 1rem 1rem;

			&:nth-child(even) {
				background: #fff;
				//@include drop_shadow();
			}

			& + .event-item {
				padding: 1rem;
			}

			.event-item-name-date-icon-container {
				margin-bottom: 1rem;
				position: relative;
				padding-left: 2.5rem;
				line-height: 1;

				.event-item-calendar-icon-container {
					font-size: 1.75em;
					position: absolute;
					top: 0;
					left: 0;

					i {
						transform: translateY(0.25rem);
						color: $brand-blue;
					}
				}

				.event-item-name {
					font-weight: bold;
					line-height: 1.25;
					font-size: 1.35em;


					& + .event-item-date {
						margin-top: 0.25rem;
						font-size: 1.125em;
						font-style: italic;
						color: #888;
					}
				}
			}

			.event-item-location-container {
				padding-left: 2.5rem;

				i {
					margin-right: 0.25rem;
					color: $brand-alt;
				}
			}
		}
	}
}






















